*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
#top1{
    color: rgb(223, 108, 20);
    text-align: center;
    font-size: 45px;
    font-family: 'Ubuntu Mono', monospace;
}
#top2{
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}
.navbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 9vh;
    width: 100vw;
    border: 3px solid #ffffff;
}
ul{
    display: flex;
    justify-content: center;
   
}
ul li{
    list-style: none;
    margin: 18px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: beige;
    padding: 1px;
    font-family: 'Ubuntu Mono', monospace;
}
#container1{
    background: url(flame-grilled-meat-cooking-flames-generative-ai.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 62vh;
    margin-top: 15px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
#row1{
    text-align: center;
    color: beige;
    font-size: 30px;
}
#row2{
    display: flex;
    justify-content: center;
}
.bn3 {
    padding: 0.5em 1.7em;
    margin-top: 15px;
    border: 0.16em solid black;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 790;
    color: black;
    background-color: orangered;
}
#box1{
    background: url(chef.jpg) no-repeat center center/cover;
    background-size: cover;
    width: 324px;
    height: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.b2{
    padding:   0.1em;
    margin-bottom: 2.5px;
    border: 0.1em solid black;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 790;
    color: black;
    background-color: orangered;
}
#box2{
    background: url(burger.jpg.jpg) no-repeat center center/cover;
    background-size: cover;
    width: 324px;
    height: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.b3{
    padding:   0.1em;
    margin-bottom: 2.5px;
    border: 0.1em solid black;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 790;
    color: black;
    background-color: orangered;
}

.box12{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
#line2{
    margin-top: 15px;
    border: 2px solid rgb(132, 119, 119);
    width: 100vw;
}
#bottom1{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(223, 108, 20);
    font-family: 'Ubuntu Mono', monospace;
}
.container3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 41px;
}
#food1{
    background: url(pizzza.jpg.jpg) no-repeat center center/cover;
    width: 29vw;
    height: 360px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
}
#food2{
    background: url(butter\ chicken.jpg.jpg) no-repeat center center/cover;
    width: 29vw;
    height: 360px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
}
#food3{
    background: url(bg.jpg.jpg) no-repeat center center/cover;
    width: 29vw;
    height: 360px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid black;
}
a:hover{
    background-color: brown;
}
ul li a:hover{
    background-color: transparent;
    font-size: 1.3rem;
    text-decoration: underline;
}
#contactus{
    margin-top: 0px;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-size: 20px;
}
.form-shape input, .form-shape textarea, .form-shape select{
    width: 92%;
    padding: 0.5rem;
    margin-top: 2px;
}
form{
    margin-top: 25px;

}

.bn16 {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 25px;
    margin-top: 20px;
}
@media only screen and (max-width:1131px){
    #row4{
        width: 42vw;
    }
    #row5{
        width:45vw;
    }
    #row6{
        margin-top: 20px;
        width:90vw;
    }
}
@media only screen and (min-width:600px) and (max-width:781px)
{
    #food1{
        width:84vw;
        margin: auto;
        margin-left: 22px;
    }
    #food2{
        
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
    #food3{
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
}
@media only screen and (max-width:600px){
    #food1{
        width:78vw;
        margin: auto;
        margin-left: 3px;
    }
    #food2{
        
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
    #food3{
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
}
@media only screen and (min-height:1000px){
    #navbar{
        height:10vh;
    }
    #container1::before{
        height:39vh;
    }
    #container1{
        height:44vh
    }
}
